*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  
}


.main_div{
  width: 100%;
  height: 100vh;
  background: #666699;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;

}


.center_div{
  width: 30%;
  height: 60vh;
  background-color: #f4f4f4;
  border-radius: 15px;
  box-shadow: 20px 5px 25px -5px rgba(0, 0, 0, 0.5);
}

h1{
  background-color:#336699 ;
  color: white;
  /* border-radius: 5px; */
  margin-top: 50px;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;


}


button{
  min-height: 40px;
  width: 120px;
  font-weight: 700;
  font-size: 15px;
  border-color: transparent;
  background-color: #336699;
  color: white;
  border: none;
  outline: none;
  margin: 150px 25px 0 25px;
  border-radius: 5px;
  
  
}

.btn_div{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;


}

button:hover{
  background-color: #22a6b3;
}

